.dropdown {
  position: relative;
}

.content {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-black);
  border: var(--border-solid);
  box-shadow: var(--glow);
  padding: var(--size-3xs) var(--size);
  border-radius: var(--border-radius-4xs);
  opacity: 0;
  transition: opacity var(--transition);
  pointer-events: none;

  &--opened {
    opacity: 1;
    pointer-events: all;
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-bottom: 10px solid var(--color-secondary);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
