.card {
  padding: var(--size-xl);
  border: var(--border-solid-xl);
  box-shadow: var(--glow-xl);
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius);
}

.card--image {
  overflow: hidden;
  position: relative;
  box-shadow: var(--glow-primary);
  border: 0;

  border-radius: var(--border-radius-xs);
}
